<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <title>Calculadora</title>
    <link rel="stylesheet" href="../public/css/styleHome.css">
    <link rel="stylesheet" href="../public/css/styleCalculator.css">
</head>
<body>
    <header>
        <h1>Calculadora</h1>
    </header>
    <div class="container-calculator">
        <p id="result"></p>
        <div class="calculator-buttons">
            <button id="btnCleanEntry">CE</button>
            <button id="btnClean">C</button>
            <button id="btnBack"><</button>
            <button id="btnDivision">/</button>


            <button id="btn7">7</button>
            <button id="btn8">8</button>
            <button id="btn9">9</button>
            <button id="btnMultiplication">*</button>


            <button id="btn4">4</button>
            <button id="btn5">5</button>
            <button id="btn6">6</button>
            <button id="btnSubtraction">-</button>

            <button id="btn1">1</button>
            <button id="btn2">2</button>
            <button id="btn3">3</button>
            <button id="btnSum">+</button>

            <button id="btnInversion">+/-</button>
            <button id="btn0">0</button>
            <button id="btnDot">.</button>
            <button id="btnCalculate">=</button>

        </div>
    </div>
    <footer>
        <p>Iury Aguilar Deles</p>
    </footer>

    <!--<script src="renderer.js"></script>-->
    <script src="../public/js/scriptCalculator.js"></script>
</body>
</html>