<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <title>Calculadora</title>
    <link rel="stylesheet" href="../public/css/styleHome.css">
    <link rel="stylesheet" href="../public/css/styleCalculator.css">
</head>
<body>
    <header>
        <h1>Calculadora</h1>
    </header>
    <div class="container-calculator">
        <p></p>
        <div class="calculator-buttons">
            <button>CE</button>
            <button>C</button>
            <button><</button>
            <button>/</button>
            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button>*</button>
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button>-</button>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>+</button>
            <button>+/-</button>
            <button>0</button>
            <button>,</button>
            <button>=</button>
        </div>
    </div>
    <footer>
        <p>Iury Aguilar Deles</p>
    </footer>

    <script src="renderer.js"></script>
</body>
</html>