<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <title>Cronômetro</title>
    <link rel="stylesheet" href="../public/css/styleHome.css">
    <link rel="stylesheet" href="../public/css/styleTimer.css">
</head>
<body>
    <header>
        <h1>Cronômetro</h1>
    </header>
    <div class="container-timer">
        <div class="completeTimer">
            <p id="timer">00:00:00</p>
            <button id="startBtn">Iniciar</button> <br>
            <button id="pauseBtn">Pausar</button> <br>
            <button id="resetBtn">Resetar</button> <br>
            <button id="createLapBtn">Volta</button>
        </div>
        <ul id="lapList"></ul>
    </div>
    <footer>
        <p>Iury Aguilar Deles</p>
    </footer>

    <script src="../public/js/scriptTimer.js"></script>
</body>
</html>