<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <title>Projeto Nível Iniciante</title>
    <link rel="stylesheet" href="../public/css/styleHome.css">
</head>
<body>
    <header>
        <h1>Projeto nível iniciante</h1>
    </header>
    <div class="container">
        <button id="calculator">Calculadora</button>
        <button>Lista de tarefas</button>
        <button>Conversor de moedas</button>
        <button>Jogo de adivinhação</button>
        <button>Cronômetro</button>
        <button>Gerador de senhas</button>
        <button>Validador de CPF</button>
        <button>Pedra, papel e tesoura</button>
        <button>Quiz</button>
        <button>Agenda de contatos</button>
        <button>Controle de gastos</button>
        <button>Sistema de notas</button>
        <button>Encurtador de URL</button>
        <button>Jogo da velha</button>
        <button>Catálogo de produtos</button>
    </div>
    <footer>
        <p>Iury Aguilar Deles</p>
    </footer>

    <script src="renderer.js"></script>
</body>
</html>