<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <title>Validador de CPF</title>
    <link rel="stylesheet" href="../public/css/styleHome.css">
    <link rel="stylesheet" href="../public/css/styleCpfValidator.css">
</head>
<body>
    <header>
        <h1>Validador de CPF</h1>
    </header>
    <div class="container-cpfValidator">
        <label for="cpfI">Digite o seu CPF:</label> <br>
        <input type="text" id="cpfI"> <br>
        <button id="validateBtn">Enviar</button>
        <p id="result">-</p>
    </div>
    <footer>
        <p>Iury Aguilar Deles</p>
    </footer>

    <script src="../public/js/scriptCpfValidator.js"></script>
</body>
</html>